<!DOCTYPE html>
<html lang="pt-br">
<head>
      <%- include('partials/head.ejs') -%>
</head>
    <%- include('partials/nav.ejs') -%>
    <div class="profile">

        <img height="100px" width="100px" class="profile-img" src="<%-photo-%>">
        <h3 id="username" > <%-displayName-%> </h3>
        <hr>
        <form method="POST" action="/logout">
            <input class="btn" type="submit" value="Sair">
        </form>

    </div>
    <%- include('partials/footer.ejs') -%>
</body>
</html>