<!DOCTYPE html>
<html lang="pt-br">
<head>
      <%- include('partials/head.ejs') -%>
</head>
    <%- include('partials/nav.ejs') -%>
    <h1>Form QParser</h1>
    <form  action="/converter" method="post" enctype="multipart/form-data">
        <input type="hidden" name="refreshToken" value="<%-user.refreshToken-%>">
        <input type="hidden" name="accessToken" value="<%-user.accessToken-%>">
        <div class="formqparser">
            <div id="col_1_form">
                <label>Nome da avaliação</label>
                <br>
                <input type="text" name="nome_avaliacao" id="nome_avaliacao" placeholder="Nome da avaliação">
                <label>Privado</label>
                <input type="checkbox" name="postado" id="postado">
                <label>Descrição da avaliação</label>
                <textarea name="descricao" cols="50" rows="5" id="descricao" >
                </textarea>
            </div>

            <div id="col_2_form">

                <br>
                <label for="select=course">Selecione a turma</label>
                <br>
                <select name="course_id" id="select-course">
                    <% courses.forEach((course) =>{ %>  
                        <option value="<%- course.id -%>"><%- course.name -%></option>
                    <% }) %>  
                </select>
                <br>
                <br>
                <label for="prazo">Data do Prazo</label>
                <br>
                <input type="date" name="data_prazo" min="<%-date-%>" id="data_prazo">
                <br>
                <label for="horario_prazo">Horário do prazo</label>
                <br>
                <input type="time" name="horario_prazo" id="horario_prazo">
                <p>Arquivo para fazer a avaliação(em GIFT)</p>
                <input type="file" name="gift">
            </div>
            <br>

        </div>
        <input type="submit" value="Criar formulário">

        </form>
    <%- include('partials/footer.ejs') -%>
</body>
</html>